<h1>Eat Da Burger</h1>

<ul>
  {{#each burgers}}
    <li>{{burger_name}}</li>
  {{/each}}
</ul>

<form>
  <textarea id="burger_in" rows="5" cols="50">
    Enter a burger here!
  </textarea>
  <button type="submit" id="submit_burg">submit</button>
</form>