<h1>Eat Da Burger</h1>

<ul>
  {{#each burgers}}
    <li>{{burger_name}}</li>
  {{/each}}
</ul>

<form>
  <textarea placeholder="Enter a burger here!" id="burger_in" name="burger_in"rows="5" cols="50"></textarea>
  
  <button type="submit" id="submit_burg">submit</button>
</form>