<h1>Eat Da Burger</h1>

<h2> Untouched </h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>{{burger_name}}</li>
    {{/unless}}
  {{/each}}
</ul>

<h2> Devoured </h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>{{burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>

<form>
  <textarea placeholder="Enter a burger here!" id="burger_in" name="burger_in"rows="5" cols="50"></textarea>
  
  <button type="submit" id="submit_burg">submit</button>
</form>